
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .navbar {
    background-color: #34495e;
    padding: 10px 0;
  }


  
  /* Style the navbar brand link */
  .navbar-brand {
    color: #f60465;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar-brand:hover {
    color: #1abc9c;
  }
  
  /* Style the navigation links */
  .navbar-nav .nav-link {
    color: #f60465;
    font-size: 16px;
    transition: color 0.3s ease;
  }

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #f60465;
}
  
  .navbar-nav .nav-link:hover {
    color: #1abc9c;
  }
  
  /* Style the search input and button */
  .form-control {
    border: none;
    border-radius: 30px;
    background-color: #c2ddf8;
    color: #ecf0f1;
  }
  
  .btn-outline-success {
    border: none;
    border-radius: 30px;
    background-color: #1abc9c;
    color: #ecf0f1;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-outline-success:hover {
    background-color: #16a085;
  }
  
  .nav-link {
    color: #f60465;
  }
  

  .container {
    text-align: center;
    padding: 20px;
  }
  

  h1, h2, h4 {
    color: #333;
  }
  

  .form-control {
    border-radius: 20px;
    transition: width 0.3s ease;
    width: 200px; /* Initial width */
  }
  
  .form-control:focus {
    width: 300px; /* Expanded width on focus */
  }
  
  .btn-outline-success {
    border-radius: 20px;
  }
  

  .card {
    border: none;
  }
  

  .table {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  

  .table th {
    background-color: #343a40;
    color: white;
  }
  

  .table td {
    vertical-align: middle;
  }
  

  .mb-4 {
    margin-bottom: 1rem;
  }
  
 
  @media (max-width: 768px) {
    .table-responsive {
      overflow-x: auto;
    }
  }
  


